<a href="https://colab.research.google.com/github/NadiaHolmlund/BDS_M4_Exam/blob/main/Extra_Assignment/Extra_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Task

Create a token classification application, i.e. an application that attributes a label to each token in a sentence. The following application is based on Named entity recognition (NER) which finds the entities (such as persons, locations, or organizations) in a sentence. Which can be formulated as attributing a label to each token by having one class per entity and one class for “no entity.”

In [35]:
!pip install datasets -q
!pip install pyconll -q

In [36]:
# Imports
import pandas as pd
import json
import pyconll

In [40]:
# Importing datasets from 
data_train = pyconll.load_from_file('/content/skillspan_tech_train.conll')

ParseError: ignored

In [32]:
data_train

                Full\tO\tO
0              Stack\tO\tO
1           Software\tO\tO
2           Engineer\tO\tO
3                  -\tO\tO
4               Java\tO\tO
...                    ...
20866       wellness\tO\tO
20867        classes\tO\tO
20868        Company\tO\tO
20869   description:\tO\tO
20870  <DESCRIPTION>\tO\tO

[20871 rows x 1 columns]